.site-home
  main
    display flex
    flex-direction: column

  header.hero
    order 2

  .action-button
    margin 1em 0

  .hero-icon
    order 1
    line-height 1
    font-size 180px
    text-align center

  .footer
    order 3

@media (min-width 419px)
  .site-home
    .hero-icon
      font-size 240px

